body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

a,
ul {
    list-style: none;
    text-decoration: none;
}


#h1 {
    text-align: center;
    font-family: 'Bungee', cursive;
    font-size: 150%;
}

.centeredtit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}

hr {
    width: 80%;
}

#logo {
    position: absolute;
    margin-left: 2%;
}

nav {
    width: 100%;

}

nav li {
    float: right;
    margin-bottom: 1%;
    margin-right: 1%;
}

nav a {
    color: white;
    transition: .2s;
    font-size: 130%;
}

nav li {
    margin-left: 2%;
}

nav a:hover {
    color: gray;
}


#bigbox {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    margin: auto;
}
#bigbox img {
    width: 100%;
}
form {
    width: 80%;
    margin: auto;
    padding: 2%;
}

input {
    margin-top: 2.5%;
    margin-right: 1%;
}
#submit {
    margin: .8%;
    padding: .8%;
    border-radius: 4px;
    background-color: navy;
    color: white;
    margin-top: 3%;
}

div.sched {
    border: 1em;
}

div.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 120%;
    background-color: navy;
}

.margin-top {
    margin-top: 2%;
}

#bigcontainer {
    height: 37vw;
    background-image: url(images/reresize.jpg);
    background-size: cover;
}

#column {
    display: flex;
    flex-direction: column;
    width: 42%;
    margin-left: auto;
    margin-top: 2%;
}

#bottom {
    display: flex;
    flex-direction: row;

}

#calendar {
    display: flex;
    width: 48%;
    margin-right: 2%;
    margin-left: auto;
}

#homecontainer {
    display: flex;
    justify-content: space-between;
    background-image: url(images/reresize.jpg);
    height: 37vw;
    background-size: cover;
}

.homeinfo {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#aboutteam {
    width: 48%;
}

#textwimg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    border-radius: 4px;
    margin: .5%;
    padding: .9%;
    color: white;
    background-color: navy;
    font-family: 'Quicksand', sans-serif;
}

#donate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#donate > div {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.sched {
    width: 50%;
}

.roster {
    width: 50%;
}

.flex {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    margin-top: 5%;
}

.row {
    display: flex;
    flex-direction: row;
}

.footercomp {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #3C83B0;
}

.map a {
    margin-right: 3%;
}

.info {
    display: flex;
    justify-content: space-around;
}

.info div {
    display: flex;
    flex-direction: column;
    width: 40%;

}
#form {
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 1140px) {

    #textwimg {
        display: flex;
        flex-direction: column;

    }

    #aboutteam {
        width: 90%;
        margin: auto;
    }

    #imgs {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    #donate > div {
        width: 90%;
        margin: auto;
    }

    #bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #column,
    #calendar {
        width: 90%;
        margin: auto;
        margin-top: 1%;
    }

    .flex {
        display: flex;
        flex-direction: column;
    }

    .flex div {
        width: 90%;
        margin: auto;
    }

    .info div {
        width: 100%;
    }

    .info {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    #bigbox {
        width: 90%;
    }
    .footercomp {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}