body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

a,
ul {
    list-style: none;
    text-decoration: none;
}

.header a {
    color: white;
    transition: .2s;
}

.header a:hover {
    color: black;
}

#nav a,
#nav ul {
    font-size: 150%;
    transition: color .2s;
}

#nav a:hover {
    color: gray;
}

#nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#navigation {
    display: flex;
    justify-content: center;
    background-color: #0219A8;
}

#navigation h1 {
    font-family: 'Bungee', cursive;
    color: white;
    font-size: 300%;
}

.centeredtit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 120%;
}

hr {
    width: 80%;
}

.info div {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#bigbox {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    margin: auto;
}

form {
    width: 80%;
    margin: auto;
    padding: 2%;
}

input {
    margin-top: 1%;
}

select {
    margin-top: 1%;
}

#parallax {
    background-image: url(images/protcet-the-shield.jpg);

    min-height: 30em;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-content: space-between;
    justify-content: center;
    background-color: #0219A8;
}

div.sched {
    border: 1em;
}

div.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 200%;
}


.header ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

li {
    display: inline;
    cursor: pointer;
    margin-right: 2%;
}

#bigcontainer {
    height: 37vw;
    background-image: url(images/reresize.jpg);
    background-size: cover;
}

#calendar {
    display: flex;
    margin-top: 2%;
    margin-right: 2%;
    justify-content: flex-end
}
iframe button {
    background-color: aqua;
}

